doctype
html(lang='en')
  head
    include ../includes/header.pug

    script(src='/js/guild.js', defer)
    script(defer).
      let module = '#{module}';
    script(src='/js/sidebar.js', defer)
    link(rel='stylesheet', href='/css/sidebar.css')
  body
    include ../includes/sidebar.pug

    #sidebarExtension.bg-light
      header.text-center.pt-4
        .large-icon.bg-white.round
          img.round(src=user.avatarUrl(128), alt=user.username)
        h4.pt-2 #{user.username}
          span.text-muted #{'#' + user.discriminator.toString().padStart(4, '0')}
        .tabs.navbar-nav.text-left
          a#overview.category Modules
          a#general #[i.fas.fa-star.pr-1.text-muted] General

    include ../includes/navbar.pug

    include modules/user/overview
    include modules/user/general